include ../mixins/header.pug
include ../mixins/body.pug
include ../mixins/password-rules.pug

+header('Sign up', ['selfAsserted.css','password-helper.css'], ['password-helper.js'])
+renderBody('self_asserted_container')
+password-rules
