.password-rules {
  .password-rule, .password-rule-subrules {
    &::before {
      background-image: url("{{baseUrl}}/assets/icons/x-grey.svg");
    }

    &.valid {
      &::before {
        background-image: url("{{baseUrl}}/assets/icons/tick-green.svg");
      }
    }

    &.invalid {
      &::before {
        background-image: url("{{baseUrl}}/assets/icons/x-grey.svg");
      }
    }
  }
}

/* password rules in signup */
$password_rule_color: #102b4e;

.password-rule:before {
  transition: 0.15s ease-in;
}

/* password rules in signup */
.password-rules {
  color: $password_rule_color;
  width: 100%;

  .password-rule {
    display: flex;
    align-items: center;

    &::before {
      height: 15px;
      width: 15px;
      background-repeat: no-repeat;
      background-position: 50%;
      background-repeat: no-repeat;
      margin-right: 10px;
      content: "aa";
      color: transparent;
    }
  }

  .password-rule-subrules {
    margin-left: 1rem;
  }
}

// Style is to be enabled for debugging the password rules section
.password-rules {
  display: block !important;
}

.password-toggle {
  position: absolute;
  width: 33px;
  height: 33px;
  background-repeat: no-repeat;
  background-position: 50%;
  margin-top: 10px;
  right: 50px;
  opacity: 65%;
  transition: 0.07s ease-in;
}

.entry .password-toggle {
  margin-top: 10px;
  right: 50px;
}

.password-toggle.notshown {
  background-image: url("{{baseUrl}}/assets/icons/eye-password-show.svg");
}

.password-toggle.shown {
  background-image: url("{{baseUrl}}/assets/icons/eye-password-hide.svg");
}
